---
layout: default
indexavatar: https://secure.gravatar.com/avatar/789598edd4440e0a5e0d8e37f4ae5de7?s=250&d=mm&r=g
tags: [رسول صفری,وبلاگ,رسول,صفری,rasool safari,rasool,rasooll,safari,blog]
---
<div class="posts">
    {% for post in paginator.posts %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <div class="content">
          {{ post.excerpt }}
        </div>
        <div class="row">
        <div class="col-4 pull-right">
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more"><button type="button" class="btn btn-outline-mycolor">ادامه مطلب</button></a>
        </div>
        <div class="col-8 pull-left date-height" style="text-align: left;">
            <div class="date">
              {{ post.date | jdate: "%A %d %b %Y" }}
            </div>
          </div>
      </div>
      </article>
    {% endfor %}
  </div>

  <div class="paginate">
    <div class="row">
    <div class="col-sm-6">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | absolute_url }}" title="صفحه بعدی">
          <div class="post-pg-btn post-previous">
            <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i> صفحه بعدی
          </div>
        </a>
      {% endif %}
    </div>
    <div class="col-sm-6">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | absolute_url }}" title="صفحه قبلی">
          <div class="post-pg-btn post-next">
              <i class="fa fa-arrow-left pull-left" aria-hidden="true"></i> صفحه قبلی
          </div>
        </a>
      {% endif %}
    </div>
  </div>
  </div>