    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
     
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html | truncate: 275 }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | truncate: 275 }}" />
    <meta name="twitter:description" content="{{ page.excerpt| strip_html | truncate: 275 }}" />
    {% else %}
    <meta name="description" content="{{ site.descriptionmeta }}">
    <meta property="og:description" content="{{ site.descriptionmeta }}" />
    {% endif %}
    <meta property="author" content="{{ site.name }}" />
    {% if page.tags %}
    <meta name="keywords" content="{% for tag in page.tags %}{{ tag }},{% endfor %}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.postimg %}
    <meta property="og:image" content="{{ page.postimg | absolute_url }}" />
    <meta name="twitter:image" content="{{ page.postimg | absolute_url }}" />
    <meta name="twitter:image:alt" content="{{ page.title }}">
    <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@rasooll_">
    <meta name="twitter:creator" content="@rasooll_">
    <meta property="og:url" content="{{ page.url | absolute_url }}">
    <meta property="og:locale" content="fa">
    <link rel="author" href="{{ site.url }}">
    <link rel="shortcut icon" href="{{ '/images/favicon.png' | absolute_url }}" type="image/png" sizes="150x150"> 
