.social-icon {
    font-size: 26px;
    a {
        margin: 0px 8px;
        .fa-envelope {
            color: #704643;
        }
        .fa-github {
            color: #6cc644;
        }
        .fa-twitter {
            color: #1da1f2;
        }
        .fa-linkedin {
            color: #0077b5;
        }
        .fa-instagram {
            color: #e1306c;
        }
        .fa-rss {
            color: #F05E0A;
        }
      }
  }
.heart-color {
    color: #FD004C
}
.font-titr {
    font-family: titr;
}
.font-sahel {
    font-family: sahel;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}